[type=button]{
    -webkit-appearance: none;
    border: none;
    outline: none;
}

body{
    padding: 0px;
    margin: 0px;
}

span{
    margin: 0px;
    padding: 0px;
}

nav{
    position: sticky;
    margin: 0px;
    padding: 0px;
    height: 54px;
    top:0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E8E8E8;
    z-index: 999;
}

header{
    height: 320px;
    background:linear-gradient(135deg,#AADDEE,#66AABB);
    display: flex;
    justify-content: center;
    overflow: hidden;
}



main{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 104px;
    background: #757575;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    color: #FFFFFF;
}

#bg{
    position: absolute;
    right: -3%;
    height: 100%;
}

#bg_im{
    width: 100%;
    height: 100%;
}


#outter_title{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title{
    display: flex;
    align-items: center;
    width: 150px;
    height: 34px;
    font-size: 30px;
    color: #448899;
    cursor: pointer;
    font-weight: bold;
}

#outter_header{
    height: 320px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
}

.inner_right{
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    margin-left:20px;
    cursor: pointer;
}

.inner_right:hover{
    background-color: rgb(145, 219, 219);
}

#welcome{
    width: 650px;
    height: 320px;
    background-image: url('welcome.png');
}

#left_header{
    z-index: 100;
}

#l1{
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 24px;
    margin-top: 85px;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
}

#l2{
    margin-top: 15px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #F8F8F8;
}

#l3{
    margin-top: 25px;
    display: flex;
    height: 46px;
}

#search{
    padding-left: 15px;
    font-size: 16px;
    line-height: 13px;
    border:0px solid;
    width: 400px;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
}

#search_icon:hover{
    background-color: #276675;
}

#search_icon{
    width: 60px;
    background-color: #448899;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.imgOut{
    height: 242px;
    width: 270px;
    margin-bottom: 30px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


.imgOut_psu{
    height: 242px;
    width: 270px;
    margin-bottom: 30px;
}



#contentBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
    width: 90%;
}

.attName{
    font-family: Noto Sans TC;
    width: 250px;
    height: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #757575;
    margin-top: 12px;;
}
.desc{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 15px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    display: flex;
    align-items: center;
    /* Gray 700 */
    color: #757575;
}

.desc_r{
    text-align:right;
}

@media (min-width:1200px) {
    #outter_title{
        width: 1200px;
    }
    #outter_header{
        width: 1200px;
    }
    #contentBox{
        width: 1200px;
    }
}

@media(max-width:800px){
    #bg_im{
        width: 100%;
        height: 100%;
    }
    #l3{
        width: 100%;
    }
    #left_header{
        width: 80.55%;
    }
    #outter_header{
        width: 100%;
        padding-left: 20px;
    }
}


@media (max-width:600px) {
    #l1{
        margin-top: 65px;
    }
    #bg{
        right: 0px;
        width: 100%;
    }
    #bg_im{
        position: absolute;
        height: 52.857%;
        width: auto;
        right: -17.77%;
        bottom: 0px;
    }
    header{
        height: 280px;
    }
    #outter_header{
        height: 280px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #outter_title{
        width: 94.44%;
    }
    .imgOut{
        width: 89.44%;
        height: 280px;
        margin-bottom: 15px;
    }
    .attName{
        margin-top: 8px;
        width: 93.78%;
    }
    .desc{
        width: 93.78%;
    }
    .attImage{
        width: 100%;
        height: 202px;
    }
    #contentBox{
        width: 100%;
        justify-content: center;
    }
}

    .popup{
        position: fixed;
        z-index: 999;
        top: 0;
        background-color: rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
    }


    .popup_header{
        width: 340px;
        height: 10px;
        margin-top: 80px;
        background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .popup_title{
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #666666;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    

    .popup_input{
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 5px;
        width: 310px;
        height: 47px;
        margin-bottom: 10px;
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 13px;
        /* or 83% */

        display: flex;
        align-items: center;
        padding-left: 15px;
        /* Gray 800 */

        color: #666666;
    }

    .popupcontent{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
        background-color: white;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    

    .close_icon{
        position: absolute;
        top:17px;
        left: 307px;
        cursor: pointer;
    }

    #login_button,#sign_button{
        background: #448899;
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
    }

.popup_footer {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #666666;
    height: 22px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.message{
    color: red;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 13px;
    font-family: Noto Sans TC;
}

#logout{
    display: none;
    cursor: pointer;
}
#popbtn{
    display: none;
}