body{
    padding: 0px;
    margin: 0px;
}

span{
    margin: 0px;
    padding: 0px;
}

nav{
    position: sticky;
    margin: 0px;
    padding: 0px;
    height: 54px;
    top:0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E8E8E8;
}

header{
    height: 320px;
    background:linear-gradient(135deg,#AADDEE,#66AABB);
}

main{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 104px;
    background: #757575;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    color: #FFFFFF;
}


#outter_title{
    width: 62.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title{
    display: flex;
    align-items: center;
    width: 150px;
    height: 34px;
    font-size: 30px;
    color: #448899;
    cursor: pointer;
    font-weight: bold;
}

#outter_header{
    height: 320px;
    display: flex;
    margin-left: 19.27%;
    margin-right: 12.083%;
    justify-content: space-between;
    background-image: url("../pic/welcome.png");
    background-position: right;
    background-repeat: no-repeat;
}

.inner_right{
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    margin-left:20px;
    cursor: pointer;
}

.inner_right:hover{
    background-color: rgb(145, 219, 219);
}

#welcome{
    width: 650px;
    height: 320px;
    background-image: url('welcome.png');
}

#l1{
    margin-top: 85px;
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 24px;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
}

#l2{
    margin-top: 15px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #F8F8F8;
}

#l3{
    margin-top: 25px;
    display: flex;
    height: 46px;
}

#search{
    padding-left: 15px;
    font-size: 16px;
    line-height: 13px;
    border:0px solid;
    width: 400px;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
}

#search_icon:hover{
    background-color: #276675;
}

#search_icon{
    width: 60px;
    background-color: #448899;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.imgOut{
    height: 242px;
    width: 270px;
    margin-bottom: 30px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


.imgOut_psu{
    height: 242px;
    width: 270px;
    margin-bottom: 30px;
}



#contentBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
    width: 60.93%;
}

.attName{
    font-family: Noto Sans TC;
    width: 250px;
    height: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #757575;
    margin-top: 12px;;
}
.desc{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 15px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    display: flex;
    align-items: center;
    /* Gray 700 */
    color: #757575;
}

.desc_r{
    text-align:right;
}


@media (max-width:600px) {
    header{
        height: 280px;
    }
    #outter_header{
        background-position: left 148px top 132px;
        background-size: 276px 148px;
    }
    #search{
        width: 230px;
    }
    #outter_header{
        height: 280px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
    }
    #outter_title{
        width: 94.44%;
    }
    .imgOut{
        width: 89.44%;
        height: 280px;
        margin-bottom: 15px;
    }
    .attName{
        margin-top: 8px;
        width: 93.78%;
    }
    .desc{
        width: 93.78%;
    }
    .attImage{
        width: 100%;
        height: 202px;
    }
    #contentBox{
        width: 100%;
        justify-content: center;
    }
}

    .popup{
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
    }


    .popup_header{
        width: 340px;
        height: 10px;
        margin-top: 80px;
        background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .popup_title{
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #666666;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    

    .popup_input{
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 5px;
        width: 310px;
        height: 47px;
        margin-bottom: 10px;
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 13px;
        /* or 83% */

        display: flex;
        align-items: center;
        padding-left: 15px;
        /* Gray 800 */

        color: #666666;
    }

    .popupcontent{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
        height: 265px;
        background-color: white;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    #popupcontent_2{
        height: 322px;
    }

    .close_icon{
        position: absolute;
        top:17px;
        left: 307px;
        cursor: pointer;
    }

    #login_button,#sign_button{
        background: #448899;
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
    }

.popup_footer{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #666666;
    height: 22px;
}