<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id"
        content="37565685858-clffd8eho5vui87639gjhnjmtie9eu5i.apps.googleusercontent.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/att.css') }}">
    <title>台北一日遊</title>
</head>

<body>
    <nav>
        <span id='outter_title'><span id='title'>台北一日遊</span><span><span class='inner_right'
                    id='toBooking'>預定行程</span><span id='logout' class='inner_right'>登出系統</span><span class='inner_right'
                    id='popbtn'>登入/註冊</span></span></span>
    </nav>
    <main>
        <div id='attInfo'>
            <div id="info_left">
                <div class="slider" id="left_slider"><img id="left_btn"
                        src="{{url_for('static',filename='pic/btn_leftArrow.png')}}"></div>
                <div class="slider" id="right_slider"><img id="right_btn"
                        src="{{url_for('static',filename='pic/btn_rightArrow.png')}}"></div>
                <div id="shell"></div>
                <div id="light"></div>
            </div>
            <div id="info_right">
                <div id="att_title"></div>
                <div id="att_mrt"></div>
                <div id="booking">
                    <div id="book_1"><a>訂購導覽行程</a></div>
                    <div id="book_2">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <form id='book_form'>
                        <div id="book_date"><a>選擇日期：</a><input id="date" type="date" required></div>
                        <div id="book_time"><a>選擇時間：</a><input type="radio" name="time" value="morning"
                                required>上半天<input type="radio" name="time" value="afternoon">下半天</div>
                        <div id="book_cost"><a>導覽費用：</a><span id='price'></span></div>
                        <input type="submit" id="book_button" value="開始預訂行程">
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div id="att_desc">
            <div id="att_desc_in"></div>
            <div class="sub_title">景點地址：</div>
            <div id="att_locate"></div>
            <div class="sub_title">交通方式：</div>
            <div id="att_transport"></div>
        </div>
        <div class="popup" id="popup">
            <div class="popup_header"></div>
            <div class="popupcontent" id="popupcontent">
                <div class="popup_title">登入會員帳號</div>
                <img class="close_icon" id='close' src="{{url_for('static',filename='pic/icon_close.png')}}">
                <form id='login_form'>
                    <input id='login_email' class='popup_input' placeholder="輸入電子信箱" required>
                    <input id='login_password' type="password" class='popup_input' placeholder="輸入密碼" required>
                    <input type="submit" class="popup_input" id="login_button" value="登入帳號">
                    <div id='login_message' class="message"></div>
                </form>
                <div class="popup_footer">
                    還沒有帳戶？<a href="#" id='switchTosign'>點此註冊</a>
                    <div class="g-signin2" data-onsuccess="onSignIn" data-width="34"
                        style="position: absolute;right: 15px;"></div>
                </div>
            </div>
        </div>
        <div class="popup" id="popup_2">
            <div class="popup_header"></div>
            <div class="popupcontent" id="popupcontent_2">
                <div class="popup_title">註冊會員帳號</div>
                <img class="close_icon" id='close_2' src="{{url_for('static',filename='pic/icon_close.png')}}">
                <form id='signup_form'>
                    <input id='sign_name' class='popup_input' placeholder="輸入姓名" name='name' required>
                    <input id='sign_email' class='popup_input' placeholder="輸入電子信箱" name='email' required>
                    <input id='sign_password' type="password" class='popup_input' placeholder="輸入密碼" name='password'
                        required>
                    <input type="submit" class="popup_input" id="sign_button" value="點此註冊">
                    <div id='signup_message' class="message"></div>
                </form>
                <div class="popup_footer">
                    已經有帳戶了？<a href="#" id='switchTologin'>點此登入</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        COPYRIGHT © 2021 台北一日遊
    </footer>
    <script src="{{ url_for('static', filename='js/att.js') }}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>

</html>