<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">
    <title>台北一日遊</title>
    <script src='static/script.js'></script>
</head>

<body onload="loadImages(0)">
    <nav>
        <span id='outter_title'><span id='title'>台北一日遊</span><span><span class='inner_right'>預定行程</span><span
                    class='inner_right'>登入/註冊</span></span></span>
    </nav>
    <header>
        <div id='outter_header'>
            <div id='left_header'>
                <div id='l1'>輕鬆享受台北一日悠閒</div>
                <div id='l2'>探索每個角落，體驗城市的深度旅遊行程</div>
                <div id='l3'><input id='search'placeholder="輸入景點名稱查詢"><div id='search_icon' onclick="loadImagesbysearch()"><img src="static/icon_search.png"></div></div>
            </div>
        </div>
    </header>
    <main>
        <div id='contentBox'>

        </div>
    </main>
    <footer>
        COPYRIGHT © 2021 台北一日遊
    </footer>

</body>

</html>